<%= render "shared/header" %>
<div class='main'>
  <div class='main-left'>
    <%=link_to "本の投稿", new_book_path%>
  </div>
  <div class='main-right'>
    <a>お気に入りランキング</a>
    <div class ='book-fav-ranking'>
      <% if @book_ranking.present?%>
        <% @book_ranking.each.with_index(1) do |book,i|%>
          <li class='book'>
            <div class ='book-rank'>
              <%=i%>位
            </div>
            <div class='book-img-content'>
                <%= link_to image_tag(book.image),book_path(book.id) %>
            </div>
            <div class='title'>
                  <%=link_to book.name,book_path(book.id) %>
            </div>
          </li>
        <% end %>  
      <% end %>
    </div>
    投稿一覧
    <ul class='book-lists'>
      <% if @books.present?%>
        <% @books.each do |book|%>
          <li class='book'>
            <div class='item-info'>
              <div class='book-img-content'>
                <%= link_to image_tag(book.image),book_path(book.id) %>
              </div>
              <div class='info-right'>
                <div class='title'>
                  <%=link_to book.name,book_path(book.id) %>
                </div>
                <div class='author'>
                  <span>著者：<%= book.author%></span>
                </div>
                <div class='genre'>
                  <span>ジャンル：<%=book.category.name %>
                </div>  
              </div>
            </div>
          </li>
        <% end %> 
      <% end %>
      
    </ul>
  </div>
</div>
