
<div class='main'>
  <%=link_to "本の投稿", new_book_path%>
  
  <div class='item-contents'>
    
    <ul class='item-lists'>
       <% if @books.present?%>
      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
          <% @books.each do |book|%>
         <li class='list'>
          <%= link_to book_path(book.id) do %>
          <div class='item-img-content'>
            <%= image_tag book.image, class: "item-img" %>
  
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= book.name %>
            </h3>
            
           
          </div>
         </li>
         <% end%>
         <% end %> 
         <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
       <% else %>
          <%# 商品がない場合のダミー %>
         <%# 商品がある場合は表示されないようにしましょう %>
         <li class='list'>
          <%= link_to '#' do %>
          
          <div class='item-info'>
            <h3 class='item-name'>
              商品を出品してね！
            </h3>
            <div class='item-price'>
              <span>99999999円<br>(税込み)</span>
              <div class='star-btn'>
                
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
         </li>
        <% end %>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# /商品がない場合のダミー %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>出品する</span>
  
</div>