<div class="items-sell-contents">
  <header class="items-sell-header">
    

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= form_with model: @book, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>
    
    <div class="img-upload">
      <div class="weight-bold-text">
        出品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"book-image" %>
      </div>
    </div>
    
    <div class="new-items">
      <div class="weight-bold-text">
        商品名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"必須 40文字まで", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          著者名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :author, class:"items-text", id:"item-info", placeholder:"著者" ,maxlength:"50" %>
      </div>
    </div>
   
    <div class="items-detail">
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
    </div>
    <div class="sell-btn-contents">
      <%= f.submit "出品する", class:"sell-btn" %>
      <%=link_to 'もどる',books_path, class:"back-btn" %>
    </div>     
  </div>
  <% end %>
</div>