<div class="contain">
  <div class="left-contain">
    <div class='book-img-content2'>
      <%= image_tag @book.image ,class:"item-box-img" %>
    </div>
  </div>  
  <div class='right-contain'>
      <div class="name">
        <%= @book.name %>
      </div>
      <div class='author'>
        <%= @book.author%>
      </div>
      <div id="favorites_buttons_<%= @book.id %>">
        <%= render partial: 'favorites/favorite', locals: { book: @book} %>
      </div>
      <% if user_signed_in? && current_user.id == @book.user_id%>
    <div class='book-destroy'>
      <%= link_to '削除', book_path(@book.id), method: :delete %>
    </div>  
    <% end %>
  </div>
    
</div>    
  <div class="row">
    <ul>
        <li class="comment-create">
            <h3 class="text-left title">レビュー</h3>
        </li>
        
        <li id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </li>
    </ul>
    <hr>
    <% if user_signed_in? %>
        <div class="comment-create">
            <h3 class="text-left">レビューを投稿する</h3>
            <%= render partial: 'comments/form', locals: { comment: @comment, book: @book } %>
        </div>
    <% end %>
    <%=link_to 'もどる',books_path, class:"back-btn" %>
  </div>