<div class="item-show">
  
  <div class="item-box">
    <h2 class="name">
      <%= @book.name %>
    </h2>

    <div class='item-img-content'>
      <%= image_tag @book.image ,class:"item-box-img" %>
    </div>
    <div class="row">
    <ul>
        <li class="comment-create">
            <h3 class="text-left title">レビュー</h3>
        </li>
        <div id="favorites_buttons_<%= @book.id %>">
             <%= render partial: 'favorites/favorite', locals: { book: @book} %>
          </div>
        <li id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </li>
    </ul>
    <hr>
    <% if user_signed_in? %>
        <div class="comment-create">
            <h3 class="text-left">レビューを投稿する</h3>
            <%= render partial: 'comments/form', locals: { comment: @comment, book: @book } %>
        </div>
    <% end %>
    <%=link_to 'もどる',books_path, class:"back-btn" %>
</div>
</div>