<%= render "shared/header" %>

<%= link_to "本のindex", books_path%>
<div class='wrap'>
  <div class='title-contents'>
    <h2 class='service-title'>
      書籍アプリ
    </h2>
    
    
  </div>
  <div class='main-contents'>
    <h2 class= 'ranking_title'>週間ランキング</h2>

    <ul class="ranking_box"> 
      <% @books.each do |book| %>
      <li class= "rank">
        <div class= "rank_ic">
          <%= book[:rank] %>位
        </div>  
        <div class = "photo_box">
          <%= image_tag book[:photo_url] %>
        </div>
        <div class="title">
          <%= book[:title] %>
        </div>
      </li>
      <% end %>
      </ul>
    <h2 class= 'ranking_title'>月間ランキング</h2>
    <ul class="ranking_box"> 
    <% @books_m.each do |book| %>
      <li class= "rank">
        <div class= "rank_ic">
          <%= book[:rank] %>位
        </div>  
        <div class = "photo_box">
          <%= image_tag book[:photo_url] %>
        </div>
        <div class="title">
          <%= book[:title] %>
        </div>
      </li>  
      <% end %> 
    </ul>
  </div>
    
  <%# /FUR<div class='select-reason-contents'>IMAが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
 
  <%# FURIMAの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      FURIMAの特徴
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        
        <h3 class='feature-list-text'>
          簡単に売り買いできる
        </h3>
        <p class='feature-list-description'>
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        </p>
      </li>
      <li class='list'>
        
        <h3 class='feature-list-text'>
          売上金は即日振込みに対応
        </h3>
        <p class='feature-list-description'>
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします。
        </p>
      </li>
      <li class='list'>
        
        <h3 class='feature-list-text'>
          様々な支払いに対応
        </h3>
        <p class='feature-list-description'>
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
        </p>
      </li>
    </ul>
  </div>
  
 
</div>
