<%= render "shared/header" %>
<div class='wrap'>
  <div class='title-contents'>
    <h2 class='service-title'>
      書籍アプリ
    </h2>
    
    
  </div>
  <div class='main-contents'>
    <h2 class= 'ranking_title'>週間ランキング</h2>

    <ul class="ranking_box"> 
      <% @books.each do |book| %>
      <li class= "rank">
        <div class= "rank_ic">
          <%= book[:rank] %>位
        </div>  
        <div class = "photo_box">
          <%= image_tag book[:photo_url] %>
        </div>
        <div class="title">
          <%= book[:title] %>
        </div>
      </li>
      <% end %>
      </ul>
    <h2 class= 'ranking_title'>月間ランキング</h2>
    <ul class="ranking_box"> 
    <% @books_m.each do |book| %>
      <li class= "rank">
        <div class= "rank_ic">
          <%= book[:rank] %>位
        </div>  
        <div class = "photo_box">
          <%= image_tag book[:photo_url] %>
        </div>
        <div class="title">
          <%= book[:title] %>
        </div>
      </li>  
      <% end %> 
    </ul>
  </div>
</div>    
 